---
import Notify from "./notify.astro";
const { name = "Enviar", link, input1, input2, input3, input2Place, input3Place, input3Type, required, length2, length3 } = Astro.props;
const commonClasses =
    "p-1 text-black dark:text-white bg-transparent outline-none border-b-2 border-black dark:border-white hover:border-white dark:hover:border-cyan-400 placeholder:text-black dark:placeholder:text-white focus:border-black dark:focus:border-cyan-400";
---

<form
    method="POST"
    action="http://localhost/Tools-api/save_color.php"
    class="flex flex-col sm:flex-row justify-center items-center gap-5"
>
    <label for="input1" class={`sr-only ${input1}`}>Color 1</label>
    <input
        type="text"
        name="input1"
        id="input1"
        required
        maxlength="7"
        placeholder="Ingresa el color"
        class={`${commonClasses} ${input1}`}
    />

    <label for="input2" class={`sr-only ${input2}`}>Color 2</label>
    <input
        type="text"
        name="input2"
        id="input2"
        maxlength={length2}
        {required}
        placeholder={input2Place}
        class={`${commonClasses} ${input2}`}
    />

    <label for="input3" class={`sr-only ${input3}`}>Color 3</label>
    <input
        type={input3Type}
        name="input3"
        id="input3"
        maxlength={length3}
        {required}
        placeholder={input3Place}
        class={`${commonClasses} ${input3}`}
    />

    <input
        type="button"
        value={name}
        id="createData"
        class="p-1 text-black dark:text-white border-b-2 border-black dark:border-white hover:border-black dark:hover:border-cyan-400 hover:cursor-pointer"
    />
</form>
<Notify />
<section id="container" class="grid grid-cols-2 lg:grid-cols-4 gap-5 p-5">
</section>

<!--* uso de condicionales -->
{link === '/scripts/colors.js' && <script src="/scripts/colors.js"></script>}
{link === '/scripts/gradients.js' && <script src="/scripts/gradients.js"></script>}
{link === '/scripts/fonts.js' && <script src="/scripts/fonts.js"></script>}

<style is:inline>
    .containerBNT {
        display: flex;
        justify-content: space-around;
        border: 1px solid black;
        border-radius: 4px;
        width: 100%;
    }
    .bntCopy {
        color: black;
        text-align: center;
        border-right: 1px solid black;
        width: 50%;
    }
    .bntCopy:hover {
        background-color: #fff3;
    }
    .bntDelet {
        color: black;
        text-align: center;
        width: 50%;
    }
    .bntDelet:hover {
        background-color: #fff3;
    }
    @media (prefers-color-scheme: dark)  {
        .containerBNT {
        display: flex;
        justify-content: space-around;
        border: 1px solid white;
        border-radius: 4px;
        width: 100%;
    }
        .bntCopy {
            color:white;
            border-right: 1px solid white;
            width: 50%;
        }
        .bntDelet {
            color: white;
            text-align: center;
            width: 50%;
        }
    }
</style>