---
import Notify from "./notify.astro";
const { name = "Enviar", link, input2, input3, input2Place, input3Place, input3Type, required } = Astro.props;
const commonClasses =
    "p-1 text-black dark:text-white bg-transparent outline-none border-b-2 border-black dark:border-white hover:border-white dark:hover:border-cyan-400 placeholder:text-black dark:placeholder:text-white focus:border-black dark:focus:border-cyan-400";
---

<form
    method="post"
    class="flex flex-col sm:flex-row justify-center items-center gap-5"
>
    <label for="input1" class="sr-only">Color 1</label>
    <input
        type="text"
        name="input1"
        id="input1"
        required
        maxlength="7"
        placeholder="Ingresa el color"
        class={commonClasses}
    />

    <label for="input2" class={`sr-only ${input2}`}>Color 2</label>
    <input
        type="text"
        name="input2"
        id="input2"
        {required}
        placeholder={input2Place}
        class={`${commonClasses} ${input2}`}
    />

    <label for="input3" class={`sr-only ${input3}`}>Color 3</label>
    <input
        type={input3Type}
        name="input3"
        id="input3"
        {required}
        placeholder={input3Place}
        class={`${commonClasses} ${input3}`}
    />

    <input
        type="button"
        value={name}
        id="createData"
        class="p-1 text-black dark:text-white border-b-2 border-black dark:border-white hover:border-black dark:hover:border-cyan-400 hover:cursor-pointer"
    />
</form>
<Notify />
<section id="container" class="grid grid-cols-2 lg:grid-cols-4 gap-5 p-5">
</section>
<script src={link}></script>
